.header{
    height:100px;
    width:100%;
    background: lightblue;
    color: white;
    font-size:30px;
    text-align:center;
    line-height: 100px;
}
body{
    min-height: 3000px;
}
.navbar{
    height: 60px;
    width:100%;
    background: gold;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}
.footer{
    height:60px;
    width:100%;
    background:orange;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}
.sidebar{
    width:25%;
    height:450px;
    background: navy;
    color:white;
    font-size: 30px;
    text-align: center;
    line-height: 450px;
}
.main{
    width:75%;
    height: 450px;
    background: green;
    color:white;
    font-size: 30px;
    text-align: center;
    line-height: 450px;
}
div{
    float:left;
}
.nav{
    background: #fafafa
}
.nav>li{
    display:inline-block;
    border:1px solid #ddd;
    border-right: 0px;
    margin-left: -5px;
    padding:0.5em 1em;
    width:25%;
    box-sizing: border-box;
    position: relative
}
.nav>li:last-child{
    border-right: 1px solid #ddd;
}
.submenu{
    width: 200px;
    padding:0px;
    background: #eee;
    border:1px solid #ddd;
    border-radius: 5px;
    position:absolute;
    left: 0px;
    top: 100%;
    display: none
}
.submenu li{
    list-style-type: none;
    cursor:pointer;
    padding: 0.5em 15px;
}
.submenu li:hover{
    background: white;
}
.nav>li:hover .submenu{
  display: block;
}
.botton{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: red;
    color:white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 1.75em;
}